<div class="body-wrapper">

    <div class="top-wrapper gray" [ngClass]="{'top-radius': !menu}">
        <h1 class="title center">Socket server to use</h1>
        <h2 class="subtitle center">API SOCKET.IO</h2>
    </div>

    <div class="subscribe-wrapper">
        <h1 class="center">How to use</h1>
        <hr class="hr">
        <h2 class="center">Subtitulo</h2>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum ut tortor sollicitudin commodo quis a enim. Sed purus
                nisi, cursus a elit nec, cursus bibendum mi. Aliquam mi dolor, convallis a sapien vitae, posuere efficitur
                ex. Fusce bibendum ipsum eget commodo condimentum. Aliquam quam elit, pretium et diam et, consectetur bibendum
                libero. Vivamus finibus nibh lacus, eu pellentesque nulla aliquam et. Maecenas nec imperdiet mi. Vivamus
                sed interdum odio. Sed est dolor, luctus commodo hendrerit at, faucibus sit amet nisl. Nullam vel neque convallis,
                tempor velit a, accumsan nibh. Curabitur condimentum dui ac tempor placerat. Praesent inibus odio in sagittis
                malesuada. Phasellus varius mauris sit amet eleifend rhoncus. Aliquam finibus, nisl quis consequat efficitur,
                turpis diam dignissim magna, a interdum libero ex non elit. Mauris at justo sagittis, ullamcorper nisl quis,
                sagittis eros.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum ut tortor sollicitudin commodo quis a enim. Sed purus
                nisi, cursus a elit nec, cursus bibendum mi. Aliquam mi dolor, convallis a sapien vitae, posuere efficitur
                ex. Fusce bibendum ipsum eget commodo condimentum. Aliquam quam elit, pretium et diam et, consectetur bibendum
                libero.
            </p>
        </div>
    </div>


    <div class="wrapper gray text-wrapper">
        <h1 class="center">Segundo parrafo</h1>
        <hr class="hr">
        <h2 class="center">Subtitulo</h2>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum ut tortor sollicitudin commodo quis a enim. Sed purus
                nisi, cursus a elit nec, cursus bibendum mi. Aliquam mi dolor, convallis a sapien vitae, posuere efficitur
                ex. Fusce bibendum ipsum eget commodo condimentum. Aliquam quam elit, pretium et diam et, consectetur bibendum
                libero. Vivamus finibus nibh lacus, eu pellentesque nulla aliquam et. Maecenas nec imperdiet mi. Vivamus
                sed interdum odio. Sed est dolor, luctus commodo hendrerit at, faucibus sit amet nisl. Nullam vel neque convallis,
                tempor velit a, accumsan nibh. Curabitur condimentum dui ac tempor placerat. Praesent inibus odio in sagittis
                malesuada. Phasellus varius mauris sit amet eleifend rhoncus. Aliquam finibus, nisl quis consequat efficitur,
                turpis diam dignissim magna, a interdum libero ex non elit. Mauris at justo sagittis, ullamcorper nisl quis,
                sagittis eros.
            </p>
        </div>
    </div>

    <div class="wrapper text-wrapper">
        <h1 class="center">Primer parrafo</h1>
        <hr class="hr">
        <h2 class="center">Subtitulo</h2>
        <div class="container">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum ut tortor sollicitudin commodo quis a enim. Sed purus
                nisi, cursus a elit nec, cursus bibendum mi. Aliquam mi dolor, convallis a sapien vitae, posuere efficitur
                ex. Fusce bibendum ipsum eget commodo condimentum. Aliquam quam elit, pretium et diam et, consectetur bibendum
                libero. Vivamus finibus nibh lacus, eu pellentesque nulla aliquam et. Maecenas nec imperdiet mi. Vivamus
                sed interdum odio. Sed est dolor, luctus commodo hendrerit at, faucibus sit amet nisl. Nullam vel neque convallis,
                tempor velit a, accumsan nibh. Curabitur condimentum dui ac tempor placerat. Praesent inibus odio in sagittis
                malesuada. Phasellus varius mauris sit amet eleifend rhoncus. Aliquam finibus, nisl quis consequat efficitur,
                turpis diam dignissim magna, a interdum libero ex non elit. Mauris at justo sagittis, ullamcorper nisl quis,
                sagittis eros.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum ut tortor sollicitudin commodo quis a enim. Sed purus
                nisi, cursus a elit nec, cursus bibendum mi. Aliquam mi dolor, convallis a sapien vitae, posuere efficitur
                ex. Fusce bibendum ipsum eget commodo condimentum. Aliquam quam elit, pretium et diam et, consectetur bibendum
                libero.
            </p>
        </div>
    </div>

</div>