.title {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0px;
    font-weight: 300;
    text-transform: none;
    line-height: 1.2em;
    font-size: 30px;
    padding-bottom: 0px;
}
.subtitle {
    color: #fff;
    margin-top: 0px;
    padding-bottom: 20px;
}