.logo {
    max-width: 100px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 20px;
}
.fill-space {
    flex: 1 1 auto;
}
.login {
    padding: 5px 7px 1px 7px;
    border-radius: 50%;
}
.login:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}